html,body {
    height: 100%;
    margin: 0;
}
body {
    min-height: 100vh;
    background : url(background.jpg) no-repeat center center/cover;
}
.wrapper {
     display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.login {
    height: auto;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgb(173, 101, 101);
    border-width: 2px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(20px);
    padding-bottom: 30px;
    padding-top: 30px;
}
#one {
  color: rgb(173, 101, 101);
  text-align: center;
}
#name {
    color: black;
  text-align: center;

}
#Password {
    color: black;
  text-align: center;
}
#button {
    color: black;
  text-align: center;     
}
h5 {
    color: rgb(173, 101, 101);
  text-align: center;
}
