html,body {
    height: 100%;
    margin: 0;
}
body {
    min-height: 100vh;
   background : url(login.jpg) no-repeat center center/cover; 
  }
.wrapper {
     display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.login {
    height: auto;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgba(18, 170, 226, 0.7);
    border-width: 2px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(20px);
    padding-bottom: 30px;
    padding-top: 30px;
}
#logo {
  height: 20px;
  width: auto;
  margin-right: 1000px;
  margin-top: 20px;
  margin-left: 10px;
  padding-left: auto;
    border-style: solid;
    border-color: rgba(18, 170, 226, 0.7);
    border-width: 2px;
    border-radius: 20px;
  text-align: center;
  color: rgba(18, 170, 226, 0.7);
  font-family: 'Orbitron', sans-serif;
}
#name {
  font-family: 'Poppins', sans-serif;
    color: black;
  text-align: center;

}
#Password {
  font-family: 'Poppins', sans-serif;
    color: black;
  text-align: center;
}
#button {
    color: black;
  text-align: center;     
}
h5 {
  font-family: 'Poppins', sans-serif;
  color: rgba(18, 170, 226, 0.7);;
  text-align: center;
}
.forgot_button  {
  color:rgba(18, 170, 226, 0.7);
  text-align: right;
  margin-right: 10px;
}
a:hover ,button:hover {
  color:blue;
}
a{
    color: rgba(18, 170, 226, 0.7);
    font-size: 12px;
}
input {
height: 20px;
background-color:  #05080e;
color:  rgb(18, 170, 226);
border-radius: 10px;
border-color:  rgb(18, 170, 226);
}
button{
background-color:  #05080e;
color:  rgb(18, 170, 226);
border-radius: 10px;
}

